<div class="question-card" fxLayout="column">
  <dx-form labelLocation="top" [colCount]="2" [formData]="question">
    <dxi-item dataField="name" [isRequired]="true">
    </dxi-item>
    <dxi-item dataField="type" editorType="dxSelectBox" [editorOptions]="selectTypeOptions" [isRequired]="true" [disabled]="editMode">
    </dxi-item>
    <dxi-item dataField="description" [isRequired]="true" editorType="dxTextArea" [editorOptions]="{ height: 90 }"
              [colSpan]="2"></dxi-item>
    <dxi-item dataField="is_required" editorType="dxSwitch">
      <dxo-label
        location="left"
        alignment="right">
      </dxo-label>
    </dxi-item>
    <dxi-item itemType="button" [buttonOptions]="deleteButtonOptions">
    </dxi-item>
  </dx-form>
  <div style="margin-top: 2em" #template>
    <ng-template [ngIf]="open" [ngIfThen]="openQuestion"></ng-template>
    <ng-template [ngIf]="single || multiple" [ngIfThen]="choices"></ng-template>
  </div>
</div>

<ng-template #openQuestion>
  <dx-text-area
    placeholder="Open question answer text" [disabled]="true" height="90">
  </dx-text-area>
</ng-template>

<ng-template #choices>
  <dx-form style="margin-bottom: 1em" [formData]="question">
    <dxi-item itemType="group" caption="Options" name="answers-container">
      <dxi-item name="options" itemType="group" *ngFor="let answer of answersOptions; let i = index">
        <dxi-item [dataField]="'options[' + i + '].description'" [editorOptions]="answersOptions[i]">
          <dxo-label location="left" [text]="'Option ' + (i+ 1)">
          </dxo-label>
        </dxi-item>
      </dxi-item>
    </dxi-item>

  </dx-form>
  <div #button>
    <dx-button
      (click)="addNewAnswerOption()"
      text="Add new option"
      stylingMode="outlined"
      type="success"
      icon="add">
    </dx-button>
  </div>
</ng-template>
