<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  indicatorSrc='assets/images/loading.gif'>
</dx-load-panel>
<h6 class="q-name">{{questionnaire.name}}</h6>
<h5>{{'Expired_At' | translate}} {{questionnaire.expiration_at}}</h5>
<h4 class="q-questions">{{ 'Questions_Count' | translate }} {{questionnaire.questions?.length}}</h4>

<div fxLayout="column" fxLayoutGap="25px">
<ng-template #container></ng-template>
<dx-button
  (onClick)="saveAnswers()"
  text="{{'Submit' | translate}}"
  stylingMode="outlined"
  type="success">
</dx-button>
</div>
