<div class="my-form">
  <h2>{{"SignIn" | translate}}</h2>
  <dx-load-indicator id="medium-indicator" height="40" width="40" *ngIf="loadIndicatorVisible" ></dx-load-indicator>
  <hr>
  <dx-form labelLocation="top" [formData]="loginUser" validationGroup="userData">
    <dxi-item dataField="email" [isRequired]="true" >
      <dxi-validation-rule
        type="required"
        message="{{'Required' | translate}}">
      </dxi-validation-rule>
      <dxi-validation-rule
        type="email"
        message="{{'Invalid' | translate}}">
      </dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="password" [isRequired]="true" [editorOptions]="{mode: 'password'}" >
      <dxo-label text="{{'Password' | translate}}"></dxo-label>
      <dxi-validation-rule
        type="required"
        message="{{'Required' | translate}}">
      </dxi-validation-rule>
    </dxi-item>
    <dxi-item itemType="button" [buttonOptions]="loginOptions">
    </dxi-item>

  </dx-form>
</div>

