<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  indicatorSrc='assets/images/loading.gif'>
</dx-load-panel>

<div fxLayout="row wrap" fxLayoutGap="25px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let questionnaire of questionnaires">
    <ng-container [ngTemplateOutlet]="questionnaireCard"
                  [ngTemplateOutletContext]="{questionnaire: questionnaire}"></ng-container>
  </div>
</div>


<ng-template #questionnaireCard let-questionnaire='questionnaire'>
  <div class="questionnaire-card" fxLayout="column">
    <div style="display: flex; flex-direction: row">
      <h3 style="text-align: center">{{questionnaire.name}} ({{questionnaire.lang}}) <img *ngIf="questionnaire.password !== null" alt="password" src="assets/images/lock.png" class="password-img"></h3>
      <div style="margin-left: auto">
        <ng-container [ngTemplateOutlet]="status"
                      [ngTemplateOutletContext]="{questionnaire: questionnaire}"></ng-container>
      </div>
    </div>
    <h5>{{ 'Expired_At' | translate }} {{questionnaire.expiration_at}}</h5>
    <div>
      <p>{{questionnaire.description}}</p>
    </div>
    <div style="display: flex; flex-direction: row; margin-top: 1em">
      <div style="margin-left: auto" fxLayout="row" fxLayoutGap="10px">
        <dx-button
          [routerLink]="['/show-questionnaire', questionnaire.link]"
          text="{{'Update' | translate}}"
          stylingMode="outlined"
          type="success">
        </dx-button>
        <dx-button
          [routerLink]="['/details', questionnaire.link]"
          text="{{'Details' | translate}}"
          stylingMode="outlined"
          type="default">
        </dx-button>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #status let-questionnaire='questionnaire'>
  <h5 *ngIf="questionnaire.expiration_date > actualDate && questionnaire.is_active" fxLayoutAlign="end"
      style="color: #51A351; text-align: center">{{'Active' | translate}}</h5>
  <h5 *ngIf="questionnaire.expiration_date > actualDate && !questionnaire.is_active"
      style="color: #2F96B4; text-align: center">{{'Disabled' | translate}}</h5>
  <h5 *ngIf="questionnaire.expiration_date < actualDate" style="color: #BD362F; text-align: center">{{'Expired' | translate}}</h5>
</ng-template>
