<div fxLayout="column" fxLayoutGap="25px">
  <single-question></single-question>
  <div fxLayout="row" fxLayoutGap="25px">
<!--    <dx-select-box-->
<!--      [dataSource]="questionTypes"-->
<!--      valueExpr="Id"-->
<!--      displayExpr="Name"-->
<!--      placeholder="Select question type"-->
<!--      (onValueChanged)="onValueChanged($event)">-->
<!--    </dx-select-box>-->
    <dx-button
      text="Add new question"
      stylingMode="outlined"
      type="success"
      icon="add">
    </dx-button>
  </div>
</div>


