<div class="nav-container">
  <div class="main">
    <ng-template [ngIf]="authService.isLoggedIn()" [ngIfThen]="adminMenu" [ngIfElse]="menu"></ng-template>
    <ng-template [ngIf]="poland" [ngIfThen]="pl" [ngIfElse]="en"></ng-template>
    <div style="margin-left: auto">
      <ng-template [ngIf]="authService.isLoggedIn()" [ngIfThen]="logout" [ngIfElse]="login"></ng-template>
    </div>

  </div>

  <ng-template #logout>
    <dx-button text="{{'SignOut' | translate}}" (onClick)="authService.logout()" stylingMode="outlined" type="danger"
               icon="arrowright"></dx-button>
  </ng-template>
  <hr>
</div>
<ng-template #login>
  <div fxLayout="row" fxLayoutGap="20px">
    <dx-button text="{{'SignIn' | translate}}" routerLink="/login" stylingMode="outlined" type="success" icon="user"></dx-button>
    <dx-button text="{{'SignUp' | translate}}" routerLink="/register" stylingMode="outlined" type="default"></dx-button>
  </div>
</ng-template>

<ng-template #menu>
  <dx-menu
    #menu
    [dataSource]="actions"
    displayExpr="name"
    [showFirstSubmenuMode]="{
            name: 'onHover',
  delay: { show: 0, hide: 0 }
  }"
    orientation="horizontal"
    [hideSubmenuOnMouseLeave]="true"
    (onItemClick)="menuItemClick($event)"
    (click)="clickHome()"
  >
  </dx-menu>
</ng-template>

<ng-template #adminMenu>
  <dx-menu
    #menu
    [dataSource]="adminActions"
    displayExpr="name"
    [showFirstSubmenuMode]="{
            name: 'onHover',
  delay: { show: 0, hide: 0 }
  }"
    orientation="horizontal"
    [hideSubmenuOnMouseLeave]="true"
    (onItemClick)="menuItemClick($event)"
    (click)="clickHome()"
  >
  </dx-menu>
</ng-template>

<ng-template #pl>
  <img alt="language" src="assets/images/polski.png" (click)="changeLanguage()">
</ng-template>
<ng-template #en>
  <img alt="language" src="assets/images/english.png" (click)="changeLanguage()">
</ng-template>
