<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  indicatorSrc='assets/images/loading.gif'>
</dx-load-panel>

<div fxLayout="row wrap" fxLayoutGap="25px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let questionnaire of questionnaires">
    <ng-container [ngTemplateOutlet]="questionnaireCard"
                  [ngTemplateOutletContext]="{questionnaire: questionnaire}"></ng-container>
  </div>
</div>


<ng-template #questionnaireCard let-questionnaire='questionnaire'>
  <div class="questionnaire-card" fxLayout="column" (click)="openQuestionnaire(questionnaire)">
    <div style="display: flex; flex-direction: row">
      <h3 style="text-align: center">{{questionnaire.name}} ({{questionnaire.lang}}) <img *ngIf="questionnaire.password !== null" alt="password" src="assets/images/lock.png" class="password-img"></h3>
      <div style="margin-left: auto">
        <h5 style="color: #2F96B4; text-align: center">{{questionnaire.user.name}}</h5>
      </div>
    </div>
    <h5>Expired at {{questionnaire.expiration_at}}</h5>
    <div>
      <p>{{questionnaire.description}}</p>
    </div>
    <qr-code style="margin-top: 1em" *ngIf="questionnaire.password !== null" [value]="'http://localhost:4200/questionnaire/' + questionnaire.link + '?password=required'"></qr-code>
    <qr-code style="margin-top: 1em" *ngIf="questionnaire.password === null" [value]="'http://localhost:4200/questionnaire/' + questionnaire.link"></qr-code>
  </div>
</ng-template>
